MTS_CRM/MTS_CRM.DESKTOP/Connected Services/EmployeeService/MTS_CRM.DB.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MTS_CRM.DB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MTS_CRM.DB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeFName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeLName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeePhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAdmin" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
</xs:schema>