MTS_CRM/MTS_CRM.DESKTOP/Connected Services/CustomerService/MTS_CRM.DTO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MTS_CRM.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MTS_CRM.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustID" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="tns:LocationDTO" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="yearOfJoin" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerDTO" nillable="true" type="tns:CustomerDTO" />
  <xs:complexType name="LocationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationID" type="xs:int" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationDTO" nillable="true" type="tns:LocationDTO" />
</xs:schema>