MTS_CRM/MTS_CRM.DESKTOP/Connected Services/CustomerService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MTS_CRM.DB" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MTS_CRM.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerService_CreateCustomerCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerCompany" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CreateCustomerCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CreateCustomerPrivate_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerPrivate" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CreateCustomerPrivate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerPrivateResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CreateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CreateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_RemoveCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_RemoveCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomerEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerEmail" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomerEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerById" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomers" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomersResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerService">
    <wsdl:operation name="CreateCustomerCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/CreateCustomerCompany" message="tns:ICustomerService_CreateCustomerCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/CreateCustomerCompanyResponse" message="tns:ICustomerService_CreateCustomerCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCustomerPrivate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/CreateCustomerPrivate" message="tns:ICustomerService_CreateCustomerPrivate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/CreateCustomerPrivateResponse" message="tns:ICustomerService_CreateCustomerPrivate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/CreateCustomer" message="tns:ICustomerService_CreateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/CreateCustomerResponse" message="tns:ICustomerService_CreateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/UpdateCustomer" message="tns:ICustomerService_UpdateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/UpdateCustomerResponse" message="tns:ICustomerService_UpdateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/RemoveCustomer" message="tns:ICustomerService_RemoveCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/RemoveCustomerResponse" message="tns:ICustomerService_RemoveCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetCustomerEmail" message="tns:ICustomerService_GetCustomerEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetCustomerEmailResponse" message="tns:ICustomerService_GetCustomerEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetCustomerById" message="tns:ICustomerService_GetCustomerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetCustomerByIdResponse" message="tns:ICustomerService_GetCustomerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetAllCustomers" message="tns:ICustomerService_GetAllCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetAllCustomersResponse" message="tns:ICustomerService_GetAllCustomers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerService" type="tns:ICustomerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCustomerCompany">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/CreateCustomerCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCustomerPrivate">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/CreateCustomerPrivate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/CreateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/RemoveCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerEmail">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetCustomerEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerById">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetCustomerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetAllCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port name="BasicHttpBinding_ICustomerService" binding="tns:BasicHttpBinding_ICustomerService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/MTS_CRM.WCF/CustomerService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>