MTS_CRM/MTS_CRM.DESKTOP/Connected Services/CustomerService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MTS_CRM.DB" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MTS_CRM.DTO" />
  <xs:element name="CreateCustomerCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MTS_CRM.DB" minOccurs="0" name="cust" nillable="true" type="q1:Customer" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MTS_CRM.DB" minOccurs="0" name="comp" nillable="true" type="q2:Company" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MTS_CRM.DB" minOccurs="0" name="location" nillable="true" type="q3:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerCompanyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerPrivate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MTS_CRM.DB" minOccurs="0" name="cust" nillable="true" type="q4:Customer" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MTS_CRM.DB" minOccurs="0" name="custPriv" nillable="true" type="q5:Private" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MTS_CRM.DB" minOccurs="0" name="location" nillable="true" type="q6:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerPrivateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MTS_CRM.DB" minOccurs="0" name="cust" nillable="true" type="q7:Customer" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MTS_CRM.DB" minOccurs="0" name="custPriv" nillable="true" type="q8:Private" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MTS_CRM.DB" minOccurs="0" name="comp" nillable="true" type="q9:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MTS_CRM.DTO" minOccurs="0" name="cust" nillable="true" type="q10:CustomerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MTS_CRM.DB" minOccurs="0" name="cust" nillable="true" type="q11:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MTS_CRM.DTO" minOccurs="0" name="GetCustomerEmailResult" nillable="true" type="q12:CustomerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MTS_CRM.DTO" minOccurs="0" name="GetCustomerByIdResult" nillable="true" type="q13:CustomerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MTS_CRM.DB" minOccurs="0" name="GetAllCustomersResult" nillable="true" type="q14:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>